@import 'components/vars';
@import 'components/mixins';
@import 'components/print';

@include main;

.dog {
	padding: 30px 0;
	min-height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #ffffff;
	background: linear-gradient(
		110.8deg,
		$primary_clr 1.8%,
		$secondary_clr 98.2%
	);
	position: relative;
	overflow: hidden;

	&__container {
		width: 80vw;
		height: 100%;
		padding: 30px;
		background-color: rgba($color: #000000, $alpha: 0.2);
		box-shadow: 3px 2px 30px 1px rgba(0, 0, 0, 0.75);
		display: flex;
		flex-direction: column;

		.game-container {
			position: relative;
			margin: auto;
			width: 100%;
			max-height: 0;
			overflow: hidden;
			transition: 1s all ease-in-out;

			&__content {
				display: flex;
				width: 100%;
				justify-content: space-between;

				@include breakpoint-max(600) {
					flex-direction: column;
				}
			}

			&__img {
				width: 50%;
				@include breakpoint-max(600) {
					width: 100%;
				}

				.dog__img {
					max-width: 100%;
					height: auto;
				}
			}

			.figure-container {
				fill: transparent;
				stroke: #fff;
				stroke-width: 4px;
				stroke-linecap: round;
				width: 50%;

				@include breakpoint-max(600) {
					width: 100%;
				}
			}
		}

		.figure-part {
			display: none;
		}

		.letters-container {
			margin: 20px;
			position: relative;

			.alphabet-list {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}

			.alphabet-button {
				cursor: pointer;
				background-color: rgba($color: #000000, $alpha: 0.2);
				padding: 10px;
				margin: 5px;
				transition: 0.2s all ease-in-out;

				&:hover {
					background-color: rgba($color: $secondary_clr, $alpha: 0.5);
					color: #000000;
				}

				&:active {
					transform: scale(0.9);
				}
			}
		}

		.word {
			display: flex;
		}

		.letter {
			border-bottom: 3px solid #2980b9;
			display: inline-flex;
			font-size: 30px;
			align-items: center;
			justify-content: center;
			margin: 0 3px;
			height: 50px;
			width: 20px;
		}
	}

	&__container-footer {
		.popup-container {
			background-color: rgba(0, 0, 0, 0.3);
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			/* display: flex; */
			display: none;
			align-items: center;
			justify-content: center;
		}

		.popup {
			background: rgba($color: $secondary_clr, $alpha: 1);
			border-radius: 5px;
			box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
			padding: 20px;
			text-align: center;
		}

		.popup button {
			cursor: pointer;
			background-color: #fff;
			color: $primary_clr;
			border: 0;
			margin-top: 20px;
			padding: 12px 20px;
			font-size: 16px;
		}

		.popup button:active {
			transform: scale(0.98);
		}

		.popup button:focus {
			outline: 0;
		}

		.notification-container {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 10px 10px 0 0;
			padding: 15px 20px;
			position: absolute;
			bottom: -80px;
			transition: transform 0.3s ease-in-out;
			left: 50%;
			transform: translateX(-50%);
		}

		.notification-container p {
			margin: 0;
		}

		.notification-container.show {
			transform: translateX(-50%) translateY(-80px);
		}
	}

	&__title-container {
		background-color: rgba($color: #000000, $alpha: 0.2);
		box-shadow: 3px 2px 30px 1px rgba(0, 0, 0, 0.75);
		padding: 20px;
	}

	&__title,
	&__text {
		margin: 0;
		font-size: 3em;
		padding: 0;
		color: white;
		text-shadow: 0 0.1em 20px rgba($primary_clr, 1),
			0.05em -0.03em 0 rgba($primary_clr, 1),
			0.05em 0.005em 0 rgba($primary_clr, 1), 0em 0.08em 0 rgba($primary_clr, 1),
			0.05em 0.08em 0 rgba($primary_clr, 1), 0px -0.03em 0 rgba($primary_clr, 1),
			-0.03em -0.03em 0 rgba($primary_clr, 1),
			-0.03em 0.08em 0 rgba($primary_clr, 1), -0.03em 0 0 rgba($primary_clr, 1);
		span {
			transform: scale(0.9);
			display: inline-block;
		}
		span:first-child {
			animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
				infinite alternate;
		}
		span:last-child {
			animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
				infinite alternate;
		}

		@keyframes bop {
			0% {
				transform: scale(0.9);
			}
			50%,
			100% {
				transform: scale(1);
			}
		}

		@keyframes bopB {
			0% {
				transform: scale(0.9);
			}
			80%,
			100% {
				transform: scale(1) rotateZ(-3deg);
			}
		}
	}

	&__text {
		margin-bottom: 20px;
		font-size: 1.5rem;
	}

	&__image {
		max-width: 100%;
		margin-bottom: 20px;
		transition: 1s all ease-in-out;
		cursor: zoom-in;

		&:hover {
			transform: scale(1.1);
			box-shadow: 3px 2px 30px 1px rgba(0, 0, 0, 0.75);
		}
	}

	&__btn {
		@include btn;
		transition: all ease-in-out 0.2s;

		&:active {
			transform: scale(0.9);
		}
	}
}
